<!DOCTYPE html>
<html ng-app="gemStore">
<head>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
    <script type="text/javascript" src="app.js"></script>
    <link rel="stylesheet" type="text/css" href="app.css"/>
    <meta charset="UTF-8">
</head>
<body class="list-group" ng-controller="StoreController as store">
<header>
    <h1 class="text-center">Flatlander Crafted Gems</h1>

    <h2 class="text-center">– an Angular store –</h2>
</header>
<div class="list-group-item" ng-repeat="product in store.products">
    <h3>
        {{product.name}}
        <em class="pull-right">{{product.price | currency}}</em>
    </h3>

    <!-- Image Gallery  -->
    <product-gallery></product-gallery>

    <product-tabs>
        <ul class="nav nav-pills">
            <li ng-class="{ active: tab.isSet(1) }">
                <a href ng-click="tab.setTab(1)">Description</a></li>
            <li ng-class="{ active: tab.isSet(2) }">
                <a href ng-click="tab.setTab(2)">Specs</a></li>
            <li ng-class="{ active: tab.isSet(3) }">
                <a href ng-click="tab.setTab(3)">Reviews</a></li>
        </ul>
        <product-description ng-show="tab.isSet(1)">
        </product-description>
        <div ng-show="tab.isSet(2)" product-specs>
        </div>
        <div ng-show="tab.isSet(3)">

    </product-tabs>
</div>
</body>
</html>